<h2>BOX OFFICE MOJO Scraper</h2>
<p>2018 Data</p>
Thomas Le

In [16]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd
import numpy as np
from operator import truediv

In [17]:
bo_data = 'box_office_data.csv'

In [18]:
#url = 'https://www.boxofficemojo.com/yearly/chart/?yr=' + str(year) + '&view=releasedate&view2=domestic&sort=gross&order=DESC&&p=.htm'

In [19]:
title = []
revenue = []
theaters = []
date = []

for year in range(2015,2019):
    url = 'https://www.boxofficemojo.com/yearly/chart/?yr=' + str(year) + '&view=releasedate&view2=domestic&sort=gross&order=DESC&&p=.htm'
    source = requests.get(url).text
    
    soup = BeautifulSoup(source, "html5lib")
    table = soup.find('td', colspan="3")
    core = table.tbody.tr
    
    for i in range(100):
        core = core.nextSibling
        title.append(core.a.text)
        revenue.append(core.td.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.text[1:])
        theaters.append(core.td.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.text)
        date.append(core.td.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.text + '/' + str(year)[2:])

        # clean titles for twitter search
        title = [i.replace('(2015)', '').replace('(2016)', '').replace('(2017)', '').replace('(2018)','').replace('II','2').replace('Vol. 2','2') for i in title]

        # revenue per theater calculations
        revenue = [i.replace(',', '') for i in revenue]
        theaters = [i.replace(',', '') for i in theaters]
        a = np.array(revenue)
        b = np.array(theaters)
        revenue_per_theater = (a.astype(np.float))/(b.astype(np.float))
        revenue_per_theater = revenue_per_theater.astype(np.int).tolist()

        # make dataframe
        biglist = [title] + [revenue] + [theaters] + [revenue_per_theater] + [date]
        biglist = np.array(biglist)
        biglist = np.transpose(biglist)
        df1 = pd.DataFrame(biglist, columns = ['Movie Title','Opening Weekend Revenue','Theaters Released In','Revenue Per Theater', 'Date Released'])

In [20]:
# remove all movie values with punctuation symbols like !:-, or '
tflist = df1['Movie Title'].str.contains("!|:|-|,|'", regex = True)
df1['tflist'] = tflist
df1 = df1[['Movie Title','tflist','Opening Weekend Revenue','Theaters Released In','Revenue Per Theater', 'Date Released']]
df1 = df1[df1['tflist'] == False] 
df1 = df1.drop(['tflist'], axis = 1)

# remove all movies that were released in less than 2000 theaters (easier to normalize revenue data later)
df1 = df1[df1['Theaters Released In'].astype(int) > 2000]

# remove movies whose entire titles are single common/generic words
# had inaccurate results when scraping for twitter with movie names identical to common/generic words like 'It' or 'Home'
# did a manual search of these (better method by using stopwords library and looping through?) If there were a lot more movies to scrape through this would be worth looking into 
df1 = df1.set_index('Movie Title')
common_movie_names = ['Home ','Spy','Sisters','Joy','Focus ','Max ','Pan','Aloha','Sing','It','Split','Life ','Tag','Alpha','Peppermint','Wonder','Vacation','The Man From U.N.C.L.E.']
#added a space after Home, Focus, Max, and Life (eg "home" to "home ") because they had a year or a number that was replaced with a space in the previous cell block
df1 = df1.drop(common_movie_names, axis = 0)
df1 = df1.reset_index()
display(df1)

# save to csv
df1.to_csv(bo_data, index = False)

,Movie Title,Opening Weekend Revenue,Theaters Released In,Revenue Per Theater,Date Released
0,Jurassic World,208806270,4274,48855,6/12/15
1,Inside Out,90440272,3946,22919,6/19/15
2,Furious 7,147187040,4004,36760,4/3/15
3,Minions,115718405,4301,26905,7/10/15
4,The Martian,54308575,3831,14176,10/2/15
5,Cinderella,67877361,3845,17653,3/13/15
6,Spectre,70403148,3929,17918,11/6/15
7,Pitch Perfect 2,69216890,3473,19930,5/15/15
8,Hotel Transylvania 2,48464322,3754,12910,9/25/15
9,Fifty Shades of Grey,85171450,3646,23360,2/13/15
10,Straight Outta Compton,60200180,2757,21835,8/14/15
11,San Andreas,54588173,3777,14452,5/29/15
12,The Peanuts Movie,44213073,3897,11345,11/6/15
13,The Good Dinosaur,39155217,3749,10444,11/25/15
14,Trainwreck,30097040,3158,9530,7/17/15
15,Creed,29632823,3404,8705,11/25/15
16,Tomorrowland,33028165,3972,8315,5/22/15
17,Get Hard,33803253,3175,10646,3/27/15
18,Taken 3,39201657,3594,10907,1/9/15
19,Ted 2,33507870,3442,9735,6/26/15
20,Goosebumps,23618556,3501,6746,10/16/15
21,Pixels,24011616,3723,6449,7/24/15
22,Paddington,18966676,3303,5742,1/16/15
23,The Intern,17728313,3305,5364,9/25/15
24,Bridge of Spies,15371203,2811,5468,10/16/15
25,Magic Mike XXL,12857184,3355,3832,7/1/15
26,The Visit,25427560,3069,8285,9/11/15
27,The Wedding Ringer,20649306,3003,6876,1/16/15
28,Black Mass,22635037,3188,7100,9/18/15
29,The Perfect Guy,25888154,2221,11656,9/11/15
...,...,...,...,...,...
216,A Simple Favor,16011689,3102,5161,9/14/18
217,Life of the Party,17886075,3656,4892,5/11/18
218,The Predator,24632284,4037,6101,9/14/18
219,I Feel Pretty,16030218,3440,4659,4/20/18
220,Vice,7768371,2442,3181,12/25/18
221,Red Sparrow,16853422,3056,5514,3/2/18
222,Breaking In,17630285,2537,6949,5/11/18
223,12 Strong,15815025,3002,5268,1/19/18
224,Den of Thieves,15206108,2432,6252,1/19/18
225,First Man,16006065,3640,4397,10/12/18
226,Hereditary,13575172,2964,4580,6/8/18
227,Sherlock Gnomes,10604774,3662,2895,3/23/18
228,Uncle Drew,15242781,2742,5559,6/29/18
229,Widows,12361307,2803,4410,11/16/18
230,Truth or Dare,18667855,3029,6163,4/13/18
231,Paddington 2,11001961,3702,2971,1/12/18
232,Second Act,6489983,2607,2489,12/21/18
233,The Commuter,13701452,2892,4737,1/12/18
234,Mile 22,13710825,3520,3895,8/17/18
235,Death Wish,13010267,2847,4569,3/2/18
236,The Spy Who Dumped Me,12103043,3111,3890,8/3/18
237,Annihilation,11071584,2012,5502,2/23/18
238,Adrift,11603039,3015,3848,6/1/18
239,Robin Hood,9195670,2827,3252,11/21/18
240,Super Troopers 2,15181624,2038,7449,4/20/18
241,Holmes and Watson,7411522,2776,2669,12/25/18
242,Slender Man,11371866,2358,4822,8/10/18
243,Winchester,9307626,2480,3753,2/2/18
244,White Boy Rick,8860431,2504,3538,9/14/18
245,Overlord,10202108,2859,3568,11/9/18